<router-outlet />
<!-- <app-test /> -->

<!-- <h2>Directivas de atributos</h2>
<div [ngStyle]="{ color: condition ? 'blue' : 'red' }">Style</div>
<div [ngClass]="condition ? 'green' : 'red'">Class</div>

<h2>Directivas estructurales</h2>
<div class="" *ngIf="condition">Me renderice</div>
<div class="" *ngFor="let item of ar">{{ item }}</div>
<ul>
  <ng-container *ngFor="let item of ar">
    <li *ngIf="condition">{{ item }}</li>
  </ng-container>
</ul>

<h2>Template</h2>
<ng-container>Dom</ng-container>
<ng-template #template>Esto es un template</ng-template>

<h2>NgIf por angular</h2>
<ng-template [ngIf]="condition"><div class="">Me renderice</div></ng-template> -->
